body {
	text-align: center;
	background: url(http://www.wheretraveler.com/sites/default/files/styles/promoted_image_social_large/public/Midtown%20Atlanta%20reflected%20in%20lake%20at%20Piedmont%20Park_c-trekandshoot-shutterstock_177033728.jpg?itok=_OhA2kKJ);
	background-size: cover;
	color: #fff;
	font-family: Arial, sans-serif;
	font-weight: normal;
	
}
hr {
  width: 500px;
}
p {
	font-size: 20px;
}